.add_videos_container {
	padding: 0.1rem 0;
	margin: 2rem 0;
}

form {
	width: max-content;
	text-align: center;
	margin: 2rem auto 0 auto;
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.checkbox {
	align-self: start;
}

::placeholder {
	color: #322a78;
}

.video-title,
.video-url {
	color: #322a78;
	width: 32rem;
	height: 2rem;
	padding-left: 0.5rem;
	border: 1px #322a78 solid;
}

.submit_btn {
	width: fit-content;
	margin: 0.8rem auto;
	padding: 0.5rem 1.6rem;
	border: 1px solid #322a78;
	cursor: pointer;
	background: none;
	color: #322a78;
}

.error-message,
.successful-message {
	text-align: center;
	font-size: 0.8rem;
}

.error-message {
	color: red;
}

.successful-message {
	color: green;
}
