.videos_container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 4rem;
	justify-items: center;
	margin-top: 4rem;
}

.vid-title {
	text-align: center;
	font-weight: 500;
	margin: 0 auto;
}

.video {
	box-shadow: 4px 4px 11px 1px #00000055;
	width: 34rem;
	height: 20rem;
	margin-top: 2rem;
	border-radius: 32px;
}

.del_btn {
	background-color: red;
	color: white;
	border: none;
	display: block;
	margin-top: 0.4rem;
	padding: 0.3rem 1.2rem;
	transition: all ease-in-out 2s;
	cursor: pointer;
	margin-left: 0.4rem;
}

.del_btn:hover,
.del_btn:active {
	border-radius: 2rem;
}
